@charset "UTF-8";

@media screen and (min-width: 1000px) {
    header > nav{
        margin-right: 100px;
    }

    header > nav > a{
        font-size: 1.1em;
        font-weight: bold;
        padding-right: 50px;
    }

    main > h1{
        font-size: 4.8em;
        font-weight: bold;
        max-width: 600px;
    }

    main > p{
        font-size: 2em;
        max-width: 650px;
    }

    main > div#img > img{
        max-width: 80%;
    }

    main > a#botao{
        width: 200px;
        padding-top: 18px;
        padding-bottom: 9px;
        font-size: 1.4em;
    }

    footer{
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    footer > div#lobe{
        order: 0;
        padding-left: 0;
    }

    footer > div#lobe > img{
        padding-left: 0;
    }

    footer > div#lobe > p{
        text-align: left;
    }

    footer > div#tnavs{
        order: 1;
        padding: 10px;
        justify-content: space-evenly;
    }

    footer > div.tnavs > div.nav{
        padding-top: 0;
    }

    footer > div.tnavs > div.nav > nav > a{
        padding: 20px 0px 0px 0px;
        max-width: 70px;
        font-weight: bold;
    }
    
    
}