@charset "UTF-8";

@media screen and (min-width: 1000px) {
    header > nav{
        margin-right: 100px;
    }

    header > nav > a{
        font-size: 1.1em;
        font-weight: bold;
        padding-right: 50px;
    }

    main > h1{
        font-size: 4.8em;
        font-weight: bold;
        max-width: 600px;
    }

    main > p{
        font-size: 2em;
        max-width: 650px;
    }

    main > div#img > img{
        max-width: 80%;
    }

    main > a#botao{
        width: 200px;
        padding-top: 18px;
        padding-bottom: 9px;
        font-size: 1.4em;
    }

    footer{
        flex-flow: row nowrap;
        justify-content: space-evenly;
        padding-bottom: 60px;
    }

    footer > div#lobe{
        order: 0;
        padding-left: 0;
    }

    footer > div#lobe > img{
        padding-left: 0;
        padding-top: 0;
    }

    footer > div#lobe > p{
        text-align: left;
    }

    footer > div.tnavs{
        padding: 0px 0px 0px 40px;
    }

    footer > div.tnavs > div.nav{
        padding-top: 30px;
        padding-right: 50px;
        
    }

    footer > div.tnavs > div.nav > nav > a{
        padding: 20px 0px 0px 0px;
        max-width: 70px;
        font-weight: bold;
    }
    
    footer > nav#icones{
        padding-top: 35px;
    }
    
}

@media screen and (min-width: 1500px) {

    header{
        justify-content: space-evenly;
    }

    header > img{
        transform: translateX(-170px);
    }

    header > nav{
        margin-right: 0px;
    }

    header > a#botaoheader{
        display: block;
        color: #fff;
        background-color: var(--cor1);
        font-size: 1.3em;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding-top: 10px;
        height: 35px;
        width: 120px;
        align-self: center;
        border: 1px solid var(--cor1);
        border-radius: 50px;

        transition: 0.2s;
    }

    header > a#botaoheader:hover{
    transform: scale(1.2);
}
}