@charset "UTF-8";

/* link: https://tailwind-lobe-tour.vercel.app/ */

:root{
    --cor1: #04ddb2;
    --cor2: #333;
    --cor4: #fff;
    --cor5: #767676;
}

*{
    margin: 0;
    padding: 0;
    background-color: var(--cor4);
}

body{
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > img{
    max-width: 100px;
    padding: 20px 0px 0px 10px;
}

header > nav{
    padding-top: 15px;
    margin-right: 10px;
}

header > nav > a{
    color: var(--cor5);
    text-decoration: none;
    padding: 5px;
}

header > nav > a:hover{
    color: var(--cor2);
}

main{
    display: flex;
    flex-flow: column wrap;
}

main > h1{
    font-size: 2.5em;
    color: var(--cor2);
    text-align: center;
    padding-top: 30px;
    max-width: 300px;
    align-self: center;
}

main > h1 > span#tour{
    color: var(--cor1);
}

main > p{
    align-self: center;
    text-align: center;
    font-size: 1.1em;
    font-weight: 350;
    color: var(--cor5);
    padding: 10px 50px;
}

main > div#img{
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 100vw;
    margin: 50px 20px 20px 20px;
}

main > div#img > img{
    max-width: 90%;
    border: 1px solid transparent;
    border-radius: 40px;
}

main > div#img > img:hover{
    
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.088);
    transform: translate(-1px, -1px);
    transition-duration: 0.2s;
}

main > a#botao{
    margin-top: 30px;
    margin-bottom: 50px;
    padding-top: 8px;
    color: #fff;
    background-color: var(--cor1);
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 35px;
    width: 150px;
    align-self: center;
    border: 1px solid var(--cor1);
    border-radius: 50px;
}

footer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

footer > img{
    max-width: 100px;
    padding: 20px 0px 0px 10px;
    order: 3;
}

footer > div.tnavs{
    display: flex;
    flex-flow: row nowrap;
}

footer > div.tnavs > div.nav{
    padding: 20px;
}

footer > div.tnavs > div.nav > nav{
    display: flex;
    flex-flow: column wrap;
}

footer > div.tnavs > div.nav > nav > h2{
    color: var(--cor2);
}

footer > div.tnavs > div.nav > nav > a{
    text-decoration: none;
    color: var(--cor5);
    padding: 5px;
}

footer > div.tnavs > div.nav > nav > a:hover{
    color: var(--cor2);
}

footer > nav#icones{
    align-self: flex-start;
    padding: 20px 0px 0px 46px;
}

footer > nav#icones > a{
    padding: 5px;
}

footer > nav#icones > a > i{
    font-size: 20px;
    color: var(--cor4);
    background-color: var(--cor1);
    border: 10px solid var(--cor1);
    border-radius: 200px;
}

footer > p{
    font-size: .9em;
    color: var(--cor2);
    line-height: 40px;
    margin-bottom: 50px;
    text-align: center;
    order: 4;
}